html, body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; height: 100%; }
* { box-sizing: border-box; }

a[matButton]{
  color: var(--mat-sys-secondary) !important;
}

a[matButton]:hover{
  background-color: var(--mat-sys-background) !important;
}

html {
  color-scheme: light;
  --mat-sys-primary: light-dark(#d7e3ff, #a8cdd8);
  --mat-sys-on-primary: light-dark(#005cbb, #0e353e);
  --mat-sys-primary-container: light-dark(#c3e9f4, #284c55);
  --mat-sys-secondary: light-dark(#005cbb, #c5c6d1);
}

